[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==21.6b0"
flake8 = "*"
pytest = "*"
pytest-cov = "*"
isort = "*"
mypy = "*"
ptpython = "*"
xenon = "*"

[packages]
requests = "*"
arrow = "*"
responses = "*"
sentry-sdk = "*"
"azure.identity" = "*"
azure-keyvault-secrets = "*"
